<!DOCTYPE html>
<html lang="en" ng-app="diamond">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Loja</title>
    <meta charset="utf-8">
    <meta name="description" content="Loja">
    <meta name="author" content="Too Solucoes em Software">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <!--<base href="/">-->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" type="text/css" href="styles/skin-dark.css">
    <link rel="stylesheet" href="styles/google-fonts.css" >
    <!-- endbuild -->
    
    
    
    
    
</head>
    <body ng-app="diamond" >
        
        
        <!-- start topBar -->
        <div class="topBar">
            <div class="container">
                <ul class="list-inline pull-left hidden-sm hidden-xs">
                    <li><i class="fa fa-phone mr-5"></i>{{loja.telefone}}</li>
                    <li><i class="fa fa-envelope mr-5"></i>{{loja.email}}</li>
                </ul>
                
                <ul class="topBarNav pull-right">
                    <li class="linkdown">
                        <a href="#!/{{loja.login}}/administracao">
                            <i class="fa fa-database mr-5"></i>
                            <span class="hidden-xs">
                                Administração
                            </span>
                        </a>
                    </li>
                    <li class="linkdown">
                        <a href="javascript:void(0);">
                            <i class="fa fa-user mr-5"></i>
                            <span class="hidden-xs">
                                Minha conta
                                <i class="fa fa-angle-down ml-5"></i>
                            </span>
                        </a>
                        <ul class="w-150">
                            <li><a href="http://diamondcreative.net/plus-v1.3/login.html">Entrar</a></li>
                            <li><a href="http://diamondcreative.net/plus-v1.3/register.html">Criar conta</a></li>
                            <li class="divider"></li>
                            <li><a href="carrinho">Carrinho</a></li>
                            <li><a href="checkout">Finalizar</a></li>
                        </ul>
                    </li>
                    <li class="linkdown">
                        <a href="javascript:void(0);">
                            <i class="fa fa-shopping-cart mr-5"></i>
                            <span class="hidden-xs">
                                Carrinho<sup class="text-primary">({{loja.carrinho.quantidadeTotal}})</sup>
                                <i class="fa fa-angle-down ml-5"></i>
                            </span>    
                        </a>
                        <ul class="cart w-250">
                            <li>
                                <div class="cart-items">
                                    <ol class="items">
                                        <li ng-repeat="produto in loja.carrinho.produtos"> 
                                            <a href="" class="product-image">
                                                <img src="images/{{produto.idImagem}}" alt="{{produto.nome}}">
                                            </a>
                                            <div class="product-details">
                                                <div class="close-icon"> 
                                                    <a href="javascript:void(0);"><i class="fa fa-close"></i></a>
                                                </div>
                                                <p class="product-name"> 
                                                    <a href="http://diamondcreative.net/plus-v1.3/shop-single-product-v1.html">{{produto.nome}}</a> 
                                                </p>
                                                <strong>{{produto.quantidade}}</strong> x <span class="price text-primary">{{produto.valor}}</span>
                                            </div><!-- end product-details -->
                                        </li><!-- end item -->
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <div class="cart-footer">
                                    <a href="#!/{{loja.login}}/carrinho" class="pull-left"><i class="fa fa-cart-plus mr-5"></i>Ver carrinho</a>
                                    <a href="#!/{{loja.login}}/checkout" class="pull-right"><i class="fa fa-shopping-cart mr-5"></i>Finalizar</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- end container -->
        </div>
        <!-- end topBar -->
        
        <!-- start navbar -->
        <div style="height: 72px;" class="sticky-wrapper" id="undefined-sticky-wrapper"><div class="navbar yamm navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        <img src="images/{{loja.idLogo}}" alt="logo">
                    </a>
                </div>
                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!-- Pages -->
                        <li class="dropdown yamm-fw" ng-repeat="categoria in loja.menu.categorias">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{categoria.nome}}<i class="fa fa-angle-down ml-5"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <ul class="col-sm-3" ng-repeat="subCategoria in categoria.subCategorias">
                                                <li class="title">
                                                    <h6>{{subCategoria.nome}}</h6>
                                                </li>
                                                <li ng-repeat="subSubCategoria in subCategoria.subCategorias">
                                                    <a href="produtos/{{subSubCategoria.id}}">{{subSubCategoria.nome}}</a></li>
                                                <li><a href="produtos/{{subCategoria.id}}">Todas</a></li>
                                            </ul><!-- end ul col -->
                                        </div><!-- end row -->
                                    </div><!-- end yamn-content -->
                                </li><!-- end li -->
                           </ul><!-- end ul dropdown-menu -->
                        </li><!-- end li dropdown -->
                    </ul><!-- end navbar-nav -->
                </div><!-- end navbar collapse -->
            </div><!-- end container -->
        </div></div><!-- end navbar -->
        <div class="breadcrumbs">

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="active">Shop Sidebar Left</li>
                        </ul><!-- end breadcrumb -->
                    </div><!-- end col -->    
                </div><!-- end row -->
            </div><!-- end container -->
        
        </div>
        <!-- start section -->
        <div ng-view="" ></div>
        
        <!-- start footer -->
        <footer class="footer">
            <div class="container">
               
                <div class="row">
                    <div class="col-sm-3">
                        <h5 class="title">{{loja.nome}}</h5>
                        <p>{{loja.descricao}}</p>
                        
                        <hr class="spacer-10 no-border">
                        
                        <ul class="social-icons">
                            <li class="facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                            <li class="dribbble"><a href="javascript:void(0);"><i class="fa fa-dribbble"></i></a></li>
                            <li class="linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                            <li class="youtube"><a href="javascript:void(0);"><i class="fa fa-youtube"></i></a></li>
                            <li class="behance"><a href="javascript:void(0);"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div><!-- end col -->
                    <div class="col-sm-3">
                        <h5 class="title">Minha conta</h5>
                        <ul class="list alt-list">
                            <li><a href="http://diamondcreative.net/plus-v1.3/my-account.html"><i class="fa fa-angle-right"></i>Minha conta</a></li>
                            <li><a href="http://diamondcreative.net/plus-v1.3/cart.html"><i class="fa fa-angle-right"></i>Carrinho</a></li>
                            <li><a href="http://diamondcreative.net/plus-v1.3/checkout.html"><i class="fa fa-angle-right"></i>Finalizar</a></li>
                        </ul>
                    </div><!-- end col -->
                    <div class="col-sm-3">
                        <h5 class="title">Informação</h5>
                        <ul class="list alt-list">
                            <li><a href="http://diamondcreative.net/plus-v1.3/about-us-v1.html"><i class="fa fa-angle-right"></i>Sobre nós</a></li>
                            <li><a href="http://diamondcreative.net/plus-v1.3/faq.html"><i class="fa fa-angle-right"></i>FAQ</a></li>
                            <li><a href="http://diamondcreative.net/plus-v1.3/privacy-policy.html"><i class="fa fa-angle-right"></i>Política de privacidade</a></li>
                            <li><a href="http://diamondcreative.net/plus-v1.3/contact-v1.html"><i class="fa fa-angle-right"></i>Entre em contato</a></li>
                        </ul>
                    </div><!-- end col -->
                    <div class="col-sm-3">
                        <h5 class="title">Métodos de pagamento</h5>
                        <p>Aceitamos as seguintes formas de pagamento.</p>
                        <ul class="list list-inline">
                            <li class="text-white"><i class="fa fa-cc-visa fa-2x"></i></li>
                            <li class="text-white"><i class="fa fa-cc-paypal fa-2x"></i></li>
                            <li class="text-white"><i class="fa fa-cc-mastercard fa-2x"></i></li>
                            <li class="text-white"><i class="fa fa-cc-discover fa-2x"></i></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
                
                <hr class="spacer-30">
                
                <div class="row text-center">
                    <div class="col-sm-12">
                        <p class="text-sm">© 2017. Feito por <a href="javascript:void(0);">Too Soluções em Software.</a></p>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer>
        <!-- end footer -->
        
        
        
        
        
        
    
        <a href="javascript:void(0);" id="back-to-top"><i class="fa fa-angle-up"></i></a>


        

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script type="text/javascript" src="scripts/script.js"></script>
        <script type="text/javascript" src="scripts/app.js"></script>
        <script type="text/javascript" src="scripts/services/loja.js"></script>
        <script type="text/javascript" src="scripts/controllers/administracao.js"></script>
        <script type="text/javascript" src="scripts/controllers/principal.js"></script>
        <script type="text/javascript" src="scripts/controllers/produto.js"></script>
        <script type="text/javascript" src="scripts/controllers/loja.js"></script>
        <script type="text/javascript" src="scripts/controllers/carrinho.js"></script>
        <!-- endbuild -->
        
        
    </body>
</html>