<section class="section white-backgorund">
    <div class="container">
        <div class="row">    

            <div class="col-sm-9 col-sm-offset-3">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="title">Carrinho</h2>
                    </div><!-- end col -->
                </div><!-- end row -->
                
                <hr class="spacer-5"><hr class="spacer-20 no-border">
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">    
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2">Produtos</th>
                                        <th>Valor</th>
                                        <th>Quantidade</th>
                                        <th colspan="2">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="produto in carrinho.produtos">
                                        <td>
                                            <a href="shop-single-product-v1.html">
                                                <img src="images/men_06.jpg" alt="product" width="60px">
                                            </a>
                                        </td>
                                        <td>
                                            <h6 class="regular"><a href="shop-single-product-v1.html">{{produto.nome}}</a></h6>
                                            <p>{{produto.descricao}}</p>
                                        </td>
                                        <td>
                                            <span>{{produto.valor}}</span>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" ng-model="produto.quantidade"/>
                                            
                                        </td>
                                        <td>
                                            <span class="text-primary">{{produto.valor*produto.quantidade}}</span>
                                        </td>
                                        <td>
                                            <button type="button" class="close">×</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table><!-- end table -->
                        </div><!-- end table-responsive -->
                        
                        <hr class="spacer-10 no-border">
                        
                        <a href="shop-sidebar-left.html" class="btn btn-light semi-circle btn-md pull-left">
                            <i class="fa fa-arrow-left mr-5"></i> Continue shopping
                        </a>
                        
                        <a href="checkout" class="btn btn-default semi-circle btn-md pull-right">
                            Checkout <i class="fa fa-arrow-right ml-5"></i>
                        </a>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->                
    </div><!-- end container -->
</section>