<section class="section white-backgorund">
    <div class="container">
        <div class="row">
            <!-- start sidebar -->
            <div class="col-sm-3">
                <div class="widget">
                    <h6 class="subtitle">Pesquisa</h6>
                    
                    <form>
                        <input id="lastname" class="form-control input-sm" placeholder="Pesquisa" type="text">
                    </form>
                </div><!-- end widget -->
                <div class="widget">
                    <h6 class="subtitle">Subcategoria 1.1</h6>
                    
                    <ul class="list list-unstyled">
                        <li>
                            <div class="checkbox-input checkbox-default">
                                <input id="mens-category" class="styled" checked="" type="checkbox">
                                <label for="mens-category">
                                    Subsubcategoria 1.1.1  <span class="text-dark">(11)</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div><!-- end widget -->
            </div><!-- end col -->
            <!-- end sidebar -->
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="title">Subcategoria 1.1</h2>
                    </div><!-- end col -->
                </div><!-- end row -->
                
                <hr class="spacer-5"><hr class="spacer-20 no-border">
                
                <div class="row column-3">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail store style3">
                            <div class="header">
                                <div class="badges">
                                    <span class="product-badge top right text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </span>
                                </div>
                                <figure class="layer">
                                    <a href="javascript:void(0);">
                                        <img src="images/hoseholds_01.jpg" alt="">
                                    </a>
                                </figure>
                                <div class="icons">
                                    <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="caption">
                                <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                <div class="price">
                                    <span class="amount text-primary">$59.99</span>
                                </div>
                            </div><!-- end caption -->
                        </div><!-- end thumbnail -->
                    </div><!-- end col -->
                    
                </div><!-- end row -->
                
                <hr class="spacer-10 no-border">
                
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <nav>
                            <ul class="pagination">
                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="active"><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->   
        </div><!-- end row -->
        
        <!-- Modal Product Quick View -->
        <div class="modal fade productQuickView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h5>Título</h5>
                    </div><!-- end modal-header -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="carousel slide product-slider" data-ride="carousel" data-interval="false">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <figure>
                                                <img src="images/men_01.jpg" alt="">
                                            </figure>
                                        </div><!-- end item -->
                                        <div class="item">
                                            <figure>
                                                <img src="images/men_02.jpg" alt="">
                                            </figure>
                                        </div><!-- end item -->
                                        <div class="item">
                                            <figure>
                                                <img src="images/men_03.jpg" alt="">
                                            </figure>
                                        </div><!-- end item -->
                                        <div class="item">
                                            <figure>
                                                <img src="images/men_04.jpg" alt="">
                                            </figure>
                                        </div><!-- end item -->
                                        <div class="item">
                                            <figure>
                                                <img src="images/men_05.jpg" alt="">
                                            </figure>
                                        </div><!-- end item -->
                                        <div class="item">
                                            <figure>
                                                <img src="images/men_06.jpg" alt="">
                                            </figure>
                                        </div><!-- end item -->

                                        <!-- Arrows -->
                                        <a class="left carousel-control" href="" data-target=".product-slider" data-slide="prev">
                                            <span class="fa fa-angle-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="" data-target=".product-slider" data-slide="next">
                                            <span class="fa fa-angle-right"></span>
                                        </a>
                                    </div><!-- end carousel-inner -->

                                    <!-- thumbs -->
                                    <ol class="carousel-indicators mCustomScrollbar meartlab">
                                        <li data-target=".product-slider" data-slide-to="0" class="active"><img src="images/men_01.jpg" alt=""></li>
                                        <li data-target=".product-slider" data-slide-to="1"><img src="images/men_02.jpg" alt=""></li>
                                        <li data-target=".product-slider" data-slide-to="2"><img src="images/men_03.jpg" alt=""></li>
                                        <li data-target=".product-slider" data-slide-to="3"><img src="images/men_04.jpg" alt=""></li>
                                        <li data-target=".product-slider" data-slide-to="4"><img src="images/men_05.jpg" alt=""></li>
                                        <li data-target=".product-slider" data-slide-to="5"><img src="images/men_06.jpg" alt=""></li>
                                    </ol><!-- end carousel-indicators -->
                                </div><!-- end carousel -->
                            </div><!-- end col -->
                            <div class="col-sm-7">
                                <p class="text-gray alt-font">Product code: 1032446</p>

                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-o text-warning"></i>
                                <span>(12 reviews)</span>
                                <h4 class="text-primary">$79.00</h4>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                <hr class="spacer-10">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <select class="form-control" name="select">
                                            <option value="" selected="">Color</option>
                                            <option value="red">Red</option>
                                            <option value="green">Green</option>
                                            <option value="blue">Blue</option>
                                        </select>
                                    </div><!-- end col -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <select class="form-control" name="select">
                                            <option value="">Size</option>
                                            <option value="">S</option>
                                            <option value="">M</option>
                                            <option value="">L</option>
                                            <option value="">XL</option>
                                            <option value="">XXL</option>
                                        </select>
                                    </div><!-- end col -->
                                    <div class="col-md-4 col-sm-12">
                                        <select class="form-control" name="select">
                                            <option value="" selected="">QTY</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4</option>
                                            <option value="">5</option>
                                            <option value="">6</option>
                                            <option value="">7</option>
                                        </select>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <hr class="spacer-10">
                                <ul class="list list-inline">
                                    <li><button type="button" class="btn btn-default btn-md round"><i class="fa fa-shopping-basket mr-5"></i>Add to Cart</button></li>
                                    <li><button type="button" class="btn btn-gray btn-md round"><i class="fa fa-heart mr-5"></i>Add to Wishlist</button></li>
                                </ul>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end modal-body -->
                </div><!-- end modal-content -->
            </div><!-- end modal-dialog -->
        </div><!-- end productRewiew -->
        
    </div><!-- end container -->
</section>